# Project exclude paths
.idea
/node_modules/
.DS_Store
*.log
cache/html/*.html
cache/img-high/*.png
cache/img-low/*.png
cache/img-orj/*.png
cache/img-thumb/*.png
cache/json-data/*.json
cache/json-meta/*.json
cache/hashes.json
cache/randomids.json
